.layout-header {
  background-color: burlywood;
  color: cadetblue;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.layout-footer {
  background-color: burlywood;
  color: cadetblue;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:80vh;
}
